//-----------colors variables------------


$black: #222222;
//$gray: #a8a8a8;
$white: #ffffff;
//$orange: #ffaf36;
$red: #d11f2d;



//------------ brand colors --------------

$brand-color: $red;

//-------------fonts colors---------------

$light-text-color: $white;
$dark-text-color: $black ;
//$gray-text-color: $gray ;




//--------------fonts------------------



$open-sans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;
$montserrat: 'Montserrat', sans-serif;








