body {
  color: $color-content;
}
.section {
  padding: 70px 15px;
}

.flex-content {
  display: flex;
}

.container {
  a {
  	text-decoration: none;
  }
}

.title {
  position: relative;
  margin-bottom: 60px;
  text-align: center;
  h2 {
    font: 700 36px/32px $font-primary;
  }
  p {
    font: 300 16px/32px $font-primary;
    &:after {
      content: '';
      position: absolute;
      width: 47px;
      left: 50%;
      bottom: -10px;
      transform: translateX(-50%);
      border-bottom: 5px solid $color-content;
    }
  }
}

@media (min-width: 768px) {
  .section {
    padding: 100px 15px;
  }
  .title {
  }
}