.blog-page {
  background: url("../img/bg-blog.png") 50% 0 /cover no-repeat, #000;
  overflow: hidden;
}

.blog {
  .nav-blog {
    justify-content: center;
    margin: 40px 020px;
  }
}

.article {
  padding: 60px 0;
  border-bottom: 1px solid #e6e9ee;
  .avatar-blog {
    img {
      width: 100%;
    }
  }
  h3 {
    font-size: 18px;
  }
  span {
    font: 600 13px/24px $font-content;
    text-transform: uppercase;
    color: #757575;
  }
  .cover {
    height: 30vh;
    margin: 25px 0;
    overflow: hidden;
    img {
      width: 100%;
      transform: translateX(-3%) translateY(-10%);
    }
  }
  p {
    margin-bottom: 40px;
  }
  .share {
    display: inline-flex;
    vertical-align: middle;
    li {
      width: 30px;
      height: 30px;
      padding: 7px;
      border-radius: 50%;
      margin: 3px;
      text-align: center;
      transition: 0.3s all ease-out;
      cursor: pointer;
      i {
        font-size: 15px;
        transition: 0.3s all ease-out;
        color: #fff;
      }
      &:hover {
        border: 1px solid #fff;
      }
      &.fb {
        background-color: #496fa5;
      }
      &.tw {
        background-color: #00baef;
      }
      &.google {
        background-color: #eb4125;
      }
    }
  }
  .btn {
    float: right;
  }
}

@media (min-width: 768px) {
  .article {
    .share {
      margin-left: 10px;
      li {
        width: 50px;
        height: 50px;
        padding: 15px;
        margin: 5px;
        i {
          font-size: 22px;
        }
      }
    }
  }
}