.contact-page {
  background: url("../img/bg-contact.png") 50% 0 /cover no-repeat, #000;
  overflow: hidden;
}

.contact {
  .info-contact {
    padding: 30px 0;
  }
  .tel {
    a {
      font: 700 16px $font-content;
      color: $color-heading;
      &:hover {
        color: $color-primary;
      }
    }
  }
  .btn {
    float: left;
    width: auto;
    margin: 30px 15px;
    font: 700 16px $font-primary;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-heading;
  }
  .location {
    background: url("../img/location.png") 50% 35% scroll /cover no-repeat, #000;
    padding: 100px 50px;
    overflow: hidden;
    .title {
      h2 {
        margin-bottom: 15px;
        letter-spacing: 3px;
        color: $color-primary;
      }
  }
    address {
      font: 700 16px/24px $font-primary;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $color-hero;
    }
  }
}

@media (min-width: 768px) {
  .contact {
    .btn {
      float: right;
      margin-top: 0;
    }
    .location {
      padding: 140px 90px;
    }
  }
}