.faq-page {
  background: url("../img/bg-faq.png") 50% 0 /cover no-repeat, #000;
  overflow: hidden;
}

.faq {
  .question {
    padding-top: 50px;
    counter-reset:  item;
    h3 {
      padding-top: 10px;
      margin-bottom: 15px;
    }
    li {
      position: relative;
      margin: 0 30px 50px 50px;
      &:before {
        content: '';
        width: 22px;
        height: 22px;
        position: absolute;
        top: 15px;
        left: -35px;
        background-color: #ffaf36;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      &:after {
        content: counter(item) '';
        counter-increment: item;
        position: absolute;
        top: 12px;
        left: -38px;
        font: 700 13px $font-content;
      }
    }
  }
}

.search {
  background-color: #eaeff3;
  overflow: hidden;
  text-align: center;
  .search-form {
    margin-top: 20px;
    .search-input {
      position: relative;
      width: 100%;
      margin-bottom: 40px;
      padding: 5px 15px;
      background-color: #fff;
      border: 1px solid #e0e7ec;
      font: 400 13px/24px $font-content;
      &::-webkit-input-placeholder {
        color: #a9a9a9;
      }
      &:focus {
        outline: none;
        border: 1px solid $color-primary;
      }
    }
    .search-btn {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 10px;
      font-size: 15px;
      background-color: $color-primary;
      border: none;
      &:focus {
        outline: none;
        border: 0;
      }
    }
  }
  .btn {
    clear: both;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .faq {
    .question {
      column-count: 2;
    }
  }
  .search {
    .search-form {
      margin-top: 30px;
      .search-input {
        margin-bottom: 50px;
        padding: 10px 25px;
        font-size: 14px;
        line-height: 28px;
      }
      .search-btn {
        padding: 17px 17px;
      }
    }
  }
}