.reviews-page {
  background: url("../img/bg-testimonials.png") 50% 0 /cover no-repeat, #000;
  overflow: hidden;
}
.testimonials {
  li:nth-child(even) {
    background-color: #eaeff3;
    overflow: hidden;
  }
  .title {
    position: relative;
    margin-bottom: 30px;
    &:before {
      font-family: 'Domani';
      content: '“';
      position: absolute;
      font-size: 350px;
      transform: scaleX(-1);
      opacity: 0.15;
      color: #36a8ff;
      right: 0;
      top: -55px;
      z-index: 20;
    }
  }
  .happy-clients {
    display: block;
    text-align: center;
    img {
      width: 80%;
      padding: 0;
    }
    .quote {
      padding: 30px 40px;
      text-align: left;
      border: 1px solid #eaeff3;
      background-color: #fff;
      z-index: 5;
      p {
        position: relative;
        font: 400 12px/24px $font-content;
        &:before {
          font-family: FontAwesome;
          content: "\f10d";
          position: absolute;
          font-size: 18px;
          color: $color-heading;
          left: -25px;
          top: -10px;
        }
        &:after {
          @extend p:before;
          transform: scaleX(-1);
          left: auto;
          top: auto;
          right: -25px;
          bottom: -10px;
        }
      }
      span {
        font: 400 12px/20px $font-content;
        color: $color-primary;
      }
      h3 {
        margin-top: 20px;
      }
    }
  }
}

.post-comments {
  ul {
    li {
      position: relative;
    }
    margin-top: 15px;
    input, textarea {
      display: block;
      width: 100%;
      margin-top: 15px;
      padding: 10px 15px;
      background: none;
      border: 1px solid #dfe5ea;
      font: 400 13px $font-content;
      text-transform: uppercase;
      outline: none;
      resize: none;
      color: $color-content;
      &:focus + label {
        display: none;
      }
      &:valid + label {
        display: none;
      }
    }
    label {
      position: absolute;
      top: 10px;
      left: 20px;
      font: 400 13px $font-content;
      text-transform: uppercase;
      color: $color-content;
      cursor: text;
      span {
        color: $color-primary;
      }
    }
    textarea {
      height: 150px;
      margin-bottom: 15px;
      & + label {
        top: 25px;
        left: 35px;
      }
    }
  }
  .btn {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .testimonials {
    .happy-clients {
      position: relative;
      img {
        width: auto;
      }
      .quote {
        position: absolute;
        width: auto;
        left: 50%;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
      }
    }
  }
}

@media (min-width: 992px) {
  .testimonials {
    .happy-clients {
      .quote {
        left: 40%;
        padding: 50px;
        p {
          font: 14px/28px;
        }
        span {
          font: 14px/20px;
        }
        h3 {
          margin-top: 25px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .testimonials {
    .happy-clients {
      .quote {
        left: 33%;
        padding: 40px 50px;
        p {
          font: 14px/28px;
        }
        span {
          font: 14px/20px;
        }
        h3 {
          margin-top: 25px;
        }
      }
    }
  }
}