.contact {
  background: $color-section;
  overflow: hidden;
  .row {
    padding-top: 70px;
  }
  h3, p {
    margin-bottom: 20px;
  }
  address, .tel {
    font: 400 13px/18px $font-primary;
    margin-bottom: 10px;
    color: #000;
  }
  address:before {
    content: '\f041';
    font-family: 'FontAwesome';
    margin-right: 10px;
  }
  .tel:before {
    content: '\f095';
    font-family: 'FontAwesome';
    margin-right: 10px;
  }
  .btn {
    float: left;
    margin: 20px 5px;
  }
}

@media (min-width: 768px) {
}