.news {
  background: $color-primary;
  overflow: hidden;
  color: #fff;
  ul {
    padding-top: 70px;
  }
  img {
    width: 100%;
  }
  .news-content {
    h3 {
      font-size: 18px;
      font-weight: 700;
      line-height: 40px;
    }
    .release {
      line-height: 40px;
    }
    p {
      margin: 5px 0 10px;
    }
    span {
      font: 400 13px/24px $font-primary;
      margin-left: 10px;
    }
    .fa-comments {
      margin-left: 30px;
    }
  }
}