.team {
  background: $color-section;
  img {
    width: 70%;
    border-radius: 50%;
    overflow: hidden;
  }
  ul {
    text-align: center;
    padding-top: 70px;
  }
  h3 {
    margin-top: 10px;
    font-weight: 700;
  }
  p {
    padding: 10px;
  }
  .social {
    display: flex;
    justify-content: center;
    padding: 0;
    li {
      width: 23px;
      height: 24px;
      margin: 3px;
      padding: 5px;
      color: #fff;
      border-radius: 50%;
      font-size: 14px;
      cursor: pointer;
    }
    .tw {
      background: #7acdf1;
    }
    .pint {
      background: #ea5352;
    }
    .fb {
      background: #547bbd;
    }
    .google {
      background: #4c4c4c;
    }
    .in {
      background: #1385c7;
    }
  }
}