ul {
  padding-left: 0;
  list-style: none;
}

fieldset {
  margin: 20px 0 20px 0;
}

legend {
  font-weight: bold;
}

/*----------  fieldset-1  block   --------------*/

.fieldset-1 li {
  margin: 15px 0 15px 5px;
}

.radio-margin {
  margin-left: 5px;
}

/*----------  fieldset-2  block   --------------*/
.sex2 {
  margin: 0;
  font-size: 0.8em;
}

.textfield {
  margin-top: 0;
  font-size: 0.8em;
}

.header-textarea {
  display: block;
  font-weight: bold;
}

#multiselect {
  display: block;
  margin: 10px 0 20px 0;
}

.fieldset-2 li b,
.fieldset-2 label b{
  display: block;
  margin: 10px 0;
}

/*----------  fieldset-3  block   --------------*/

.email {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}

.fieldset-3 strong {
  display: block;
  margin-top: 20px;
}

.fieldset-3 b {
  display: block;
  margin-bottom: 10px;
}