.clients {
  li {
    padding: 50px 15px;
  }
  .client-quote {
    margin-bottom: 40px;
  }
  .flex-content {
    align-items: center;
  }
  img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
  .client-name {
    h3 {
      font-size: 14px;
    }
    span {
      font: 400 12px/28px $font-content;
    }
  }
  li {
    .client-quote {
      position: relative;
      &:before {
        font-family: 'Domani';
        content: '“';
        position: absolute;
        font-size: 210px;
        opacity: 0.1;
        color: $color-heading;
        left: 0;
        top: 40px;
      }
    }
  }
  li:nth-child(3n+2) {
    .client-quote {
      &:before {
        opacity: 0.15;
        color: #36a8ff;
      }
    }
  }
  li:nth-child(3n+3) {
    .client-quote {
      &:before {
        opacity: 0.3;
        color: $color-primary;
      }
    }
  }
}