.footer {
  background-color: #2a2b2c;
  color: $color-footer;
  overflow: hidden;
  h3 {
    color: $color-hero;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: default;
  }
  .footer-logo {
    margin-top: 40px;
  }
  .copy {
    display: block;
    margin: 10px 0 30px;
    font: 600 13px/24px $font-content;
    text-transform: uppercase;
  }
  .social {
    li {
      width: 29px;
      height: 29px;
      padding: 5px;
      border: 1px solid #373839;
      margin: 3px;
      text-align: center;
      transition: 0.3s all ease-out;
      cursor: pointer;
      i {
        font-size: 15px;
        transition: 0.3s all ease-out;
      }
      &:hover {
        border: 1px solid $color-primary;
        i {
          color: $color-primary;
        }
      }
    }
  }
  .navigation {
    list-style: url(../img/marker.svg) inside;
    li {
      border-bottom: 1px solid #373839;
      a {
        padding-left: 5px;
        font: 600 12px/39px $font-content;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-footer;
        &:hover {
          color: $color-primary;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .form-footer {
    ul {
      justify-content: center;
      flex-wrap: wrap;
      margin: 30px 0 10px;
      li {
        position: relative;
      }
      .name input {
        border-width: 1px;
      }
      .email input {
        border-width: 1px 1px 1px 0;
      }
      .comment textarea {
        border-width: 0 1px 1px 1px;
        height: 97px;
      }
      input, textarea {
        width: 100%;
        height: 47px;
        padding: 15px;
        background: transparent;
        border: 1px solid #373839;
        font: 400 14px/28px $font-content;
        color: $color-footer;
        resize: none;
        &:focus {
          outline: none;
          border: 2px solid $color-primary;
          & + label {
            display: none;
          }
        }
        &:valid + label {
          display: none;
        }
      }
      label {
        position: absolute;
        top: 10px;
        left: 20px;
        font: 400 14px/28px $font-content;
        color: $color-footer;
        cursor: text;
        span {
          color: $color-primary;
        }
      }
      .name {flex-basis: 50%;}
      .email {order: 1; flex-basis: 50%;}
      .comment {order: 3; flex-basis: 100%;}
    }
  }
}

@media (min-width: 768px) {
  .footer {
    h3 {
      margin-top: 0;
    }
    .navigation {
      li {
        a {
          padding-left: 10px;
          font: 600 13px/39px $font-content;
        }
      }
    }
  }
}