.hero {
  .navbar {
    margin: 0;
    padding: 10px 0 20px;
    border-bottom: 1px solid rgba(221, 228, 234, 0.15);
    z-index: 10;
  }
  .flex-nav {
    .logo {
      position: absolute;
      bottom: 23px;
      float: left;
      width: 164px;
      height: 34px;
      overflow: hidden;
    }
    .tel {
      float: right;
      clear: both;
      margin-left: 10px;
    }
    .nav-btn {
      float: right;
      clear: right;
      padding: 0;
      margin: 15px 0 0 0;
      font-size: 20px;
    }
  }
  .nav-menu {
    position: absolute;
    margin-top: 79px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    .active a {
      background: none;
      font-weight: 700;
      color: $color-primary;
    }
    a {
      font-size: 11px;
      text-transform: uppercase;
      font-weight: 600;
      color: $color-hero;
      &:hover {
        background: none;
        font-weight: 700;
        color: $color-primary;
      }
      &:visited {
        background: none;
      }
    }
  }
}

@media (min-width: 400px) {
  .hero {
    .navbar {
      padding: 10px 0 25px;
      .flex-nav {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        .logo {
          position: inherit;
        }
        .tel {
          flex-grow: 1;
          padding-bottom: 3px;
          &::after {
            content: '';
            position: relative;
            font-size: 20px;
            left: -120px;
            top: 4px;
            border-left: 1px solid #fff;
            opacity: 0.15;
          }
        }
      }
      .nav-btn {
        font-size: 23px;
      }
      .nav-menu {
        padding: 0;
        margin-top: 25px;
      }
    }
  }
}

@media (min-width: 768px) {
  .hero {
    .flex-nav {
      float: left;
    }
    .navbar {
      padding: 20px 0;
      .nav-menu {
        margin: 15px 0;
        position: inherit;
        background: none;
        float: right;
        width: auto;
        a {
          padding: 0 7px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .hero {
    .navbar {
      .flex-nav {
        .tel {
          &::before {
            margin-left: 40px;
          }
          &::after {
            font-size: 23px;
            left: -160px;
            top: 5px;
          }
        }
      }
      .nav-menu {
        a {
          font-size: 13px;
          padding: 0 14px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .navbar {
      .nav-menu {
        a {
          font-size: 14px;
          padding: 0 20px;
        }
      }
    }
  }
}