.partners {
  &:focus {
    border: none;
  }
  border: none;
  .slider-main:focus {
    border: none;
    li {
      border: none;
    }
  }
  .slider-partners {
    border: 0;
    padding: 0 15px;
  }
  .logo-partners {
    margin: 40px 0 20px;
    height: 128px;
    border: 1px solid #eaeff3;
    overflow: hidden;
    img {
      padding: 20px;
      margin: 0 auto;
    }
  }
}