.partners {
  .slider-partners {
    padding: 0 15px;
  }
  .logo-partners {
    margin: 40px 0 20px;
    padding: 20px 0;
    height: 128px;
    border: 1px solid #eaeff3;
    overflow: hidden;
    img {
      margin: 0 auto;
    }
  }
}