.services {
  background-color: #eaeff3;
  overflow: hidden;
  .services-category {
    position: relative;
    margin: 50px 0 10px;
    .services-icon {
      img {
        width: 100%;
        filter: brightness(0);
      }
    }
    li {
      margin-bottom: 50px;
      &:hover {
        h3:after {
          content: '';
          position: absolute;
          width: 14px;
          height: 2px;
          left: 14px;
          top: -5px;
          background-color: #36a8ff;
        }
        img {
          filter: brightness(1);
        }
      }
    }
  }
}
