.services {
  background-color: #eaeff3;
  overflow: hidden;
  .services-category {
    position: relative;
    margin: 50px 0 10px;
    .services-icon {
      img {
        width: 100%;
        filter: brightness(0);
      }
    }
    h3 {
      font: 700 14px/24px $font-primary;
      text-transform: uppercase;
      color: $color-heading;
      cursor: pointer;
    }
    p {
      font: 400 12px/28px $font-content;
    }
    li {
      margin-bottom: 50px;
      &:hover {
        h3:after {
          content: '';
          position: absolute;
          width: 14px;
          height: 2px;
          left: 14px;
          top: -5px;
          background-color: #36a8ff;
        }
        img {
          filter: brightness(1);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .services {
    .services-category {
      h3 {
        font-size: 16px;
      }
      p {
        font-size: 14pxt;
      }
    }
  }
}