@import "utils/var";

@import "base/common";
@import "base/fonts";

@import "components/slider";

@import "layout/header";
@import "layout/hero";
@import "layout/introduction";
@import "layout/free";
@import "layout/about";
@import "layout/services";
@import "layout/work";
@import "layout/team";
@import "layout/footer";
