.btn {
  display: block;
  min-width: 140px;
  height: 30px;
  padding: 7px;
  border-radius: 9px;
  background: $color-primary;
  font: 700 14px $font-hero;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s all ease-out;
  cursor: pointer;
  &:hover, &.active-btn {
    outline: none;
    border: 3px solid $color-primary;
    background-color: #fff;
    color: $color-primary;
  }
  &:focus {
    outline: none;
  }
  &:active:focus {
    outline: none;
  }
}

@media (min-width: 768px) {
  .btn {
    min-width: 150px;
    height: 42px;
    padding: 9px;
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .btn {
    min-width: 170px;
  }
}