.footer {
  padding: 25px 0;
  background-color: #000000;
  .flex-wrap {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
  }
  p {
    margin: 0;
    font: bold 14px/32px $century-gothic;
    color: #fff;
  }
  .footer-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        margin: 0 20px;
        font: bold 16px/32px $code;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}