.header{}

.navbar-default.active{
  background-color: rgba(255,255,255,0.8);
  .navbar-collapse{
    background-color: transparent;
  }
}

.navbar-default{
  z-index: 100;
  .navbar-nav{
    margin-top: 45px;
    margin-bottom: 20px;
    li{
      a{
        padding: 20px 15px;
        margin: 0 5px;
        font: bold 16px/32px $code;
        color: #000;
        text-transform: uppercase;
        transition: 0.5s;
        &:hover{
          background-color: #ffea00;
          transition: 0.5s;
        }
      }
    }
  }
}

@media (min-width: 998px) {
.navbar-default{
  .navbar-nav{
    li{
      a{
        margin: 0 20px;
      }
    }
  }
}
}
