.hero {
  background: url("../img/hero-slider-bg.png") center/cover no-repeat;
  margin-top: 175px;
  padding-bottom: 20px;
}

.hero-carousel-item {
  position: relative;
  padding-bottom: 200px;
  .hero-title {
    max-width: 700px;
    padding-top: 135px;
    span {
      display: inline-block;
      margin: 4px;
      padding: 0 10px;
      font: bold 40px/50px $century-gothic;
      text-transform: uppercase;
      background-color: #ffeb00;
      color: #000;
    }
  }
  .hero-subtitle {
    max-width: 320px;

    span {
      margin: 4px;
      padding: 0 10px;
      font: bold 18px/25px $century-gothic;
      background-color: #3f3f44;
      color: #fff;

    }
  }
  .hero-button {
    display: block;
    width: 190px;
    height: 40px;
    margin-top: 80px;
    margin-left: 25%;
    background-color: #000000;
    border-bottom: 3px solid #ffeb00;
    text-align: center;
    text-decoration: none;
    font: bold 24px/37px $century-gothic;
    color: #ffffff;
    &:hover {
      color: #ffeb00;
    }
  }
  .hero-img {
    display: none;
    position: absolute;
    right: 0;
    top: 5%;
    z-index: -5;

  }
}

@media (min-width: 768px) {
  .hero-carousel-item {
    .hero-title {
      span {
        font: bold 70px/85px $century-gothic;
      }
    }
    .hero-subtitle {
      max-width: 400px;
      span {
        font: bold 24px/33px $century-gothic;
      }
    }
    .hero-img {
    }
  }
}

@media (min-width: 990px) {
  .hero-carousel-item {
    .hero-img {
      display: block;
      width: 60%;
      top: 5%;
    }
  }
}

