.portfolio {
  padding-bottom: 100px;
  border-bottom: 1px solid #cacaca;
}

.masonry-wrap {
  margin: 0 auto;
  .portfolio-item {
    max-width: 534px;
    margin: 2px;
  }
  img {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .masonry-wrap {
    img {
      width: auto;
    }
  }
}