.contact-form {
  background-color: #eaeff3;
  overflow: hidden;
  ul {
    li {
      position: relative;
    }
    input, textarea, select {
      width: 100%;
      margin-top: 30px;
      padding: 0 0 5px 4px;
      background: none;
      border: none;
      border-bottom: 1px solid #dce3e8;
      font: 700 14px/24px $font-content;
      text-transform: uppercase;
      outline: none;
      resize: none;
      color: #757c81;
      &:focus + label {
        display: none;
      }
      &:valid + label {
        display: none;
      }
    }
    label {
      position: absolute;
      top: 40px;
      left: 0;
      font: 700 14px/24px $font-content;
      text-transform: uppercase;
      color: #757c81;
      cursor: text;
      span {
        color: $color-primary;
      }
    }
    select {
      padding: 0 0 8px 0;
    }
    textarea {
      height: 150px;
      margin-bottom: 40px;
    }
  }
}

@media (min-width: 768px) {
  .contact-form {
    background-color: #eaeff3;
    overflow: hidden;
    ul {
      input, textarea, select {
        margin-top: 40px;
      }
      textarea {
        height: 250px;
      }
    }
  }
}