.pyramid {
  position: relative;
  overflow: hidden;
  &:after {
    content: url("../img/yellow-pyramid.png");
    position: absolute;
    right: 0;
    bottom: -23px;
    z-index: 10;
  }
  &:before {
    content: url("../img/blue-pyramid.png");
    position: absolute;
    right: 67.5px;
    bottom: -23px;
  }
}

@media (min-width: 768px) {
  .pyramid {
    &:after {
      bottom: -3px;
    }
    &:before {
      bottom: -3px;
    }
  }
}

