.slider-hero {
  .slick-dots {
    li {
      padding: 0 8px;
      margin-bottom: 40px;
      width: 25px;
      height: 4px;
      button {
        width: 25px;
        height: 4px;
        padding: 0;
        background-color: #8f8f8f;
        transition: 0.2s all ease-out;
        cursor: pointer;
        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
  .slick-dots li button:before {
    content: '';
  }
  .slick-dots li.slick-active button {
    background-color: $color-primary;
  }
}

.slider-main {
  .slick-dots {
    li {
      padding: 0 3px;
      float: left;
      width: 9px;
      height: 9px;
      button {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        padding: 0;
        background-color: #36a8ff;
        transition: 0.2s all ease-out;
        cursor: pointer;
        &:hover {
          background-color: $color-primary;
        }
      }
    }
  }
  .slick-dots li button:before {
    content: '';
  }
  .slick-dots li.slick-active button {
    background-color: $color-primary;
  }
}

.slick-slide:focus { outline: none; }
