body {
  color: $color-font;
}

.section {
  padding: 50px 15px;
}

.flex-content {
  display: flex;
}

.container {
  a {
  	text-decoration: none;
  }
}

.title {
  margin-bottom: 60px;
  text-align: center;
  font: 400 30px/40px $font-primary;
}

@media (min-width: 768px) {
  .section {
    padding: 100px 15px;
  }
  .title {
    margin-bottom: 90px;
    font-size: 40px;
    line-height: 60px;
  }
}