@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400,600,700|Raleway:700');

@font-face {
  font-family: 'about-icon';
  src:  url('../fonts/icomoon.eot?390frt');
  src:  url('../fonts/icomoon.eot?390frt#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?390frt') format('truetype'),
  url('../fonts/icomoon.woff?390frt') format('woff'),
  url('../fonts/icomoon.svg?390frt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}