.section {
  padding: 50px 15px 90px;
}

.flex-content {
  display: flex;
}

.container {
  a {
    text-decoration: none;
  }
}

.title {
  position: relative;
  text-align: center;
  font: 400 24px/49px $font-primary;
  &:after {
    content: '';
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid;
    width: 250px;
  }
}

h3 {
  font: 400 18px/24px $font-primary;
}
p {
  font: 400 13px/18px $font-primary;
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
}