/*    FONTS          */

@font-face {
  font-family: 'Code';
  src: url('../fonts/Code-Bold.eot');
  src: url('../fonts/Code-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Code-Bold.woff') format('woff'),
  url('../fonts/Code-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Code';
  src: url('../fonts/Code-Light.eot');
  src: url('../fonts/Code-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Code-Light.woff') format('woff'),
  url('../fonts/Code-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Century Gothic';
  src: url('../fonts/CenturyGothic.eot');
  src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CenturyGothic.woff') format('woff'),
  url('../fonts/CenturyGothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}