.main-nav {
  position: relative;
  background: $color-primary;
  margin: 0;
  padding: 10px 0 25px;
  z-index: 1;
}
.nav-header {
  .logo {
    float: left;
    width: 182px;
    height: 43px;
    overflow: hidden;
  }
  .nav-btn {
    float: right;
    padding: 0;
    margin: 15px 0 0 0;
    font-size: 23px;
    color: #e8e8e8;
  }
}

.main-nav {
  .nav-menu {
    position: absolute;
    margin-top: 66px;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    .active a {
      border-radius: 10px 9px 9px 10px;
      background-color: #fc7d7d;
    }
    a {
      display: block;
      padding: 3px 15px;
      margin: 0 5px;
      font: 700 14px/24px $font-primary;
      color: #e8e8e8;
      &:hover {
        border-radius: 10px 9px 9px 10px;
        background-color: #fc7d7d;
      }
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    padding: 20px 0;
    .nav-menu {
      float: right;
      position: inherit;
      margin: 15px -25px;
      background: none;
      width: auto;
    }
  }
}

@media (min-width: 992px) {
  .main-nav {
    .nav-menu {
      margin: 15px -35px;
    }
  }
}