.hero {
  color: #000;
  .flex-content {
    padding: 150px 0;
    flex-wrap: wrap;
  }
 .intro-hero {
   margin-bottom: 20px;
   .welcome {
     font: 700 45px/54px $font-hero;
     text-transform: uppercase;
     color: #000;
     span {
       display: block;
       font-size: 25px;
     }
   }
   .intro {
     display: block;
     margin-bottom: 40px;
     color: #000;
   }
   .btn {
     float: left;
     margin: 5px;
   }
 }
  img {
    width: 100%;
  }
}


@media (min-width: 768px) {
  .hero {
    .flex-content {
      padding: 250px 0;
      align-items: flex-end;
    }
    .intro-hero {
      margin-bottom: 0;
      .welcome {
        font-size: 65px;
        span {
          font-size: 30px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .hero {
    .intro-hero {
      .welcome {
        font-size: 72px;
      }
    }
  }
}