.portfolio {
  background: $color-primary;
  text-align: center;
  h2 {
    color: $color-font-hero;
  }
  img {
    width: 100%;
    margin: 15px 0;
  }
  .hover-portfolio {
    display: none;
    position: absolute;
    padding: 38% 0;
    background: rgba(255, 89, 89, 0.5);
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: $color-font-hero;
    overflow: hidden;
    h3 {
      width: 70%;
      margin: 0 auto;
      font: 700 20px/22px $font-primary;
      color: $color-font-hero;
    }
    i {
      margin: 10px 5px;
      padding: 10px;
      background: $color-primary;
      border-radius: 10px;
      font-size: 16px;
    }
  }
  li {
    position: relative;
    &:hover {
      .hover-portfolio {
        display: block;
      }
    }
  }
}

@media (min-width: 992px) {
  .portfolio {
    .hover-portfolio {
      h3 {
        font-size: 24px;
      }
    }
  }
}