.portfolio {
  background: $color-primary;
  overflow: hidden;
  color: #fff;
  ul {
    padding-top: 70px;
    li:hover .bg-portfolio{
      display: block;
    }
  }
  img {
    width: 100%;
  }
  .img-portfolio {
    position: relative;
    margin-bottom: 30px;
  }
  .bg-portfolio {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 89, 89, 0.5);
    h3 {
      margin-top: 25%;
      transform: translateY(-50%);
      font-size: 18px;
    }
    i {
      background: $color-primary;
      width: 29px;
      height: 29px;
      padding: 6px;
      margin: 5px;
      border-radius: 10px;
      cursor: pointer;
    }
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}