.blog{
  position: relative;
  background-color: #ececec;
  padding-bottom: 10vh;

  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0px;
    border-top: 8vw solid transparent;
    border-right: 50vw solid #FFFFFF;
    border-left: 50vw solid #FFFFFF;
  }
}

.blog-items-wrap{


}


.blog-item{
  //float: left;
  width: 270px;
  margin: 15px 10px;

  border-radius: 10px;
  background-color: #ffffff;
 .item-text-wrap{
   border-bottom: 1px solid #d9d9d9;
   h3{
	margin: 0;
	padding: 30px 15px 0;
	font: 700 18px $lato;
	color: #000000;
   }
   p{
	margin: 0;
	padding: 20px 15px;
	font: 400 16px/30px $lato;
	color: #696969;
   }
 }
  .item-icons-wrap{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
    a{
	 text-decoration: none;
	 font: 700 14px $lato;
	 color: #595858;
	 transition: 0.5s;
	 &:hover{
	   color: #009bff;
	   transition: 0.5s;
	   i{
		color: #009bff;
		transition: 0.5s;
	   }
	 }
	 i{
	   color: #4e4e4e;
	   margin-right: 5px;
	   vertical-align: text-bottom;
	   font-size: 20px;
	 }
	 .icon-comment{
	   font-size: 25px;
	   vertical-align: middle;
	 }

    }
  }
}