.footer {
  background-color: #204359;
}

.footer-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}

.footer-info {
  max-width: 370px;
  font: 400 14px/26px $lato;
  color: #9ab3cc;

  .footer-logo {
    width: 180px;
  }
  .description {
    padding: 15px 0;
  }

  .address{
    display: flex;
    margin-bottom: 15px;
    i{
      display: block;
      margin-top: 5px;
      margin-right: 5px;
    }
    span{
      display: block;
    }
  }
  .phone,
  .email{
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    font: 400 14px/26px $lato;
    color: #9ab3cc;
    transition: 0.5s;

    &:hover{
      color: #FFFFFF;
      transition: 0.5s;
    }
    i{
      margin-right: 5px;
    }
  }
}

.footer-titles{
  position: relative;
  font: 600 12px $lato;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  &:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: #7eabc7;
  }
}

.footer-nav {
  width: 85px;
  .footer-nav-list {
    padding: 0;
    list-style: none;
    a {
      font: 400 14px/36px $lato;
      text-decoration: none;
      color: #9ab3cc;
      transition: 0.5s;
      &:hover {
        color: #FFFFFF;
        transition: 0.5s;
      }
    }
  }
}

.footer-about{
  width: 146px;
  .footer-about-list {
    padding: 0;
    list-style: none;
    a {
      font: 400 14px/36px $lato;
      text-decoration: none;
      color: #9ab3cc;
      transition: 0.5s;
      &:hover {
        color: #FFFFFF;
        transition: 0.5s;
      }
    }
  }
}

.footer-feedback{
  width: 270px;
  .footer-titles:after{
    width: 90px;
  }
  .feedback-description{
    font: 400 14px/24px $open-sans;
    color: #748ca5;
  }
  .feedback-form{
    display: flex;
    input{
      flex-grow: 1;
      border: none;
      outline: none;
      padding-left: 10px;
      font: italic 14px $open-sans;
      color: #a6a6a6;
    }
    .feedback-form-btn{
      border: none;
      outline: none;
      width: 48px;
      height: 40px;
      background-color: #009bff;
      transition: 0.5s;

      &:hover{
        background-color: #ffcc00;
        transition: 0.5s;
      }
      i{
        line-height: 40px;
        color: #FFFFFF;
      }
    }
  }
  .feedback-socicon-list{
    padding: 20px 0;
    list-style: none;
    li{
      display: inline-block;
      a{
        margin-right: 10px;
        text-decoration: none;
      }
      i{
        color: #94abc3;
        font-size: 18px;
        transition: 0.5s;
        &:hover{
          color: #009bff;
          transition: 0.5s;
        }
      }
    }
  }
}

.footer-downside{
  position: relative;
  padding: 40px 0 30px;
  border-top: 1px solid #4a627c;
  text-align: center;
  .footer-up-btn{
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 45px;
    height: 52px;
    background-color: #ffcc00;
    text-decoration: none;
    transition: 0.5s;

    &:hover{
      background-color: #009bff;
      transition: 0.5s;

    }
    i{
      font-size: 20px;
      line-height: 52px;
      color: #FFFFFF;
    }
  }
  span{
    font: 400 11px $open-sans;
    text-transform: uppercase;
    color: #748ca5;
  }
}


