.navbar-default {
  .navbar-nav {
    li {
	 a {
	   margin: 0 10px;
	   font: 400 18px/60px $lato;
	   text-decoration: none;
	   color: #ffffff;
	 }
    }
  }
}

@media (min-width: 768px) {
  .navbar-default {
    .navbar-collapse {
	 padding: 0 !important;
    }
    .navbar-nav {
	 .nav-decoration {
	   position: relative;
	   height: 100px;
	   &:hover {
		background: url("../img/nav-hover.png") center no-repeat;
	   }
	 }
	 li {
	   margin-right: 15px;
	   a {
		padding: 0;
	   }
	 }
    }
  }
}