.projects {
}

.projects-item {
  position: relative;
  overflow: hidden;
  .item-text-wrap {
    padding: 80px 0;
  }

  .item-title {
    margin: 0;
    font: 700 20px/28px $raleway;
    text-transform: uppercase;
    color: #333;
  }
  .item-info {
    margin: 0;
    padding: 20px 0;
    padding-right: 35px;
    font: 400 16px/28px $lato;
    color: #6e6e6e;
  }

  .projects-item-btn {
    position: relative;
    width: 80px;
    height: 30px;
    border: 1px solid #009aff;
    &:after {
	 position: absolute;
	 content: '';
	 right: -14px;
	 top: 1px;
	 border-top: 14px solid transparent;
	 border-bottom: 14px solid transparent;
	 border-left: 14px solid #FFFFFF;
    }
    .triangle {
	 position: absolute;
	 content: '';
	 right: -15px;
	 top: 0;
	 border-top: 15px solid transparent;
	 border-bottom: 15px solid transparent;
	 border-left: 15px solid #009aff;
    }
    a {
	 display: block;
	 text-align: right;
	 font: 400 12px/30px $lato;
	 text-decoration: none;
	 color: #009aff;
    }
  }
  .item-image {
    display: none;
    position: absolute;
    right: 0;
    width: 40%;
  }
}

.slider-nav {
  overflow: hidden;
  text-align: center;
  .dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #dfdfdf;
  }
  .active {
    background-color: #009bff;
  }
}

@media (min-width: 768px) {
  .projects-item {
    .item-image {
	 display: block;
    }
  }
}