.projects{
  //padding-bottom: 200px;

}

.projects-item{
  position: relative;
  overflow: hidden;
  .item-text-wrap{
    padding: 80px 0;
  }


  .item-title{
    margin: 0;
    font: 700 20px/28px $raleway;
    text-transform: uppercase;
    color: #333;
  }
  .item-info{
    margin: 0;
    padding: 20px 0;
    padding-right: 35px;
    font: 400 16px/28px $lato;
    color: #6e6e6e;
  }

  .projects-item-btn{}

  .item-image{
    display: none;
    position: absolute;
    right: 0;
    width: 40%;

  }


}

.slider-nav{
  overflow: hidden;
  text-align: center;
  .dot{
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #dfdfdf;
  }
  .active{
    background-color: #009bff;
  }
}

@media (min-width: 768px) {
  .projects-item{
    .item-image{
      display: block;

    }
  }

}