.services{
  position: relative;
  padding: 13vh 0 7vh;
  background: #19394e url("../img/bg-services.png") center /cover no-repeat;

  &:before {
    content: '';
    position: absolute;
    display: block;
    top: -1px;
    border-top: 8vw solid #FFFFFF;
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    bottom: -1px;
    border-top: 8vw solid transparent;
    border-right: 50vw solid #ececec;
    border-left: 50vw solid #ececec;
  }

  .title{

    padding-top: 30px;
    color: #fff;
  }

}

.services-item{
  text-align: center;
  .item-icon{
    position: relative;
    width: 100px;
    height: 60px;
    margin: 55px auto 30px;
    //margin-bottom: 30px;
    background-color: #ffcc00;
    text-align: center;
    &:after{
      content: '';
      position: absolute;
      display: block;
      bottom: -27px;
      border-top: 28px solid #ffcc00 ;
      border-right: 50px solid transparent;
      border-left: 50px solid transparent;
    }
    &:before{
      content: '';
      position: absolute;
      display: block;
      top: -27px;
      border-bottom: 28px solid #ffcc00;
      border-right: 50px solid transparent;
      border-left: 50px solid transparent;
    }
    i{
      font-size: 50px;
      line-height: 60px;
      color: #ffffff;
    }

  }
  .item-text{
    font: 600 18px $raleway;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .services{
    padding: 16vh 0 18vh;
    .title{
      padding-top: 0;
    }
  }
  .services-item{
    .item-icon{
      margin: 0 auto 30px;
    }
  }
  .marg-top{
    margin-top: 70px;
  }
}
