a {
  font-family: $font-content;
  text-decoration: none;
}

.section {
  padding: 90px 0;
}

.flex-content {
  display: flex;
}

.title {
  color: $color-heading;
  h2 {
    font: 800 25px/24px $font-primary;
    text-transform: uppercase;
  }
  p {
    font: italic 14px/30px $font-intro;
  }
}

@media (min-width: 768px) {
  .title {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
  }
}