a {
  font-family: $font-content;
  text-decoration: none;
}

.section {
  padding: 90px 15px;
}

.flex-content {
  display: flex;
}

.pages {
  padding: 100px 0;
}

.title {
  color: $color-heading;
  h2 {
    font: 800 25px/24px $font-primary;
    text-transform: uppercase;
  }
  p {
    font: italic 14px/30px $font-intro;
  }
}

h3 {
  font: 700 14px/24px $font-primary;
  text-transform: uppercase;
  color: $color-heading;
  cursor: pointer;
}
p {
  font: 400 12px/28px $font-content;
}

@media (min-width: 768px) {
  .pages {
    padding: 150px 0;
  }
  .title {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 16px;
    }
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}