@import url('https://fonts.googleapis.com/css?family=Lora:400i|Open+Sans:400,600,700|Raleway:600,700,800');

@font-face {
  font-family: 'Domani';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Domani.otf');
}
