.carousel-button {
  position: absolute;
  z-index: 10;
  width: 46px;
  height: 65px;
  text-align: center;
  background-color: #000000;
  &:hover .fa {
    color: #ffeb00;
  }
  .fa {
    font-size: 55px;
    line-height: 65px;
    color: #FFFFFF;
  }
}

.carousel-prev,
.hero-carousel-prev {
  left: 0;
}

.carousel-next,
.hero-carousel-next {
  right: 0;
}

.hero-carousel-prev,
.hero-carousel-next {
  top: 70%;
  transform: translateY(-50%);
}

.slick-dots {
  .slick-active {
    button {
      background-color: #ffea00;
    }
  }
  li {
    button {
      width: 26px;
      height: 26px;
      border: 3px solid #414146;
      background-color: #414146;
      &:before {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) {
  .hero-carousel-prev,
  .hero-carousel-next {
    top: 50%;
    transform: translateY(-50%);
  }
}