.main-nav {
  position: relative;
  margin: 0;
  padding: 10px 0 25px;
  border-bottom: 1px solid rgba(221, 228, 234, 0.15);
  z-index: 1;
}
.nav-header {
  .logo {
    float: left;
    width: 164px;
    height: 34px;
    overflow: hidden;
  }
  .nav-btn {
    float: right;
    padding: 0;
    margin: 15px 0 0 0;
    font-size: 23px;
  }
}
.nav-menu {
  position: absolute;
  margin-top: 66px;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  .active a {
    font-weight: 700;
    color: #fff;
  }
  a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    &:hover {
     color: #fff;
    }
  }
}

@media (min-width: 768px) {
  .main-nav {
    padding: 20px 0;
    .nav-menu {
      float: right;
      position: inherit;
      margin: 15px -25px;
      background: none;
      width: auto;
      a {
        padding: 0 15px;
      }
    }
  }
}

@media (min-width: 992px) {
  .main-nav {
    .nav-menu {
      margin: 15px -35px;
      a {
        font-size: 16px;
        padding: 0 20px;
      }
    }
  }
}