.hero {
  position: relative;
  background: url("../img/bg-hero.png") 50% 0 /cover no-repeat, #fff; //linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
  height: 100vh;
  overflow: hidden;
  color: #fff;
 .intro-hero {
   position: absolute;
   text-align: center;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   .welcome {
   		font: 800 25px/54px 'Aria';
     	text-transform: uppercase;
   }
   .intro {
     display: block;
     font: 800 25px/54px 'Aria';
     margin-bottom: 40px;
   }
 }
}

@media (min-width: 768px) {
  .hero {
  }
}

@media (min-width: 992px) {
  .hero {
  }
}