/*Text styles*/
.title{
  font: 600 30px $lato;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  &:after{
    content: '';
    display: block;
    margin: 15px auto 0;
    width: 100px;
    height: 2px;
    background-color: #d1d1d1;
  }
}

