.destination-btn,
.boats-btn{
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid rgba(38, 38, 38, 0.3);
  font: 700 14px/22px $raleway;
  background-color: transparent;
  color: #343434;
  text-transform: uppercase;

}