.contact {
  background: #d11f2d;
  overflow: hidden;
  p {
    text-align: center;
    font: 300 20px/36px $font-primary;
  }
  .btn-contact {
    display: block;
    margin: 40px auto 0;
    min-width: 190px;
    height: 50px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: #fff;
    font: 700 20px $font-primary;
    transition: 0.3s all ease-out;
    cursor: pointer;
    color: #252525;
    &:hover, &.active-btn {
      outline: none;
    }
    &:focus {
      outline: none;
    }
    &:active:focus {
      outline: none;
    }
  }

  @media (min-width: 992px) {
    .btn-contact {
      margin-top: 60px;
      min-width: 240px;
      height: 64px;
      padding: 15px;
      font-size: 24px;
    }
  }
}