.foot {
  background: $color-primary;
  overflow: hidden;
  .section {
    padding: 50px 0;
  }
  .flex-content {
    justify-content: space-between;
    align-items: center;
  }
  .copy {
    font: 400 14px/20px $font-primary;
  }
  .social {
    li {
      display: inline-block;
      margin: 3px;
      width: 50px;
      height: 50px;
      padding: 12px;
      font-size: 25px;
      cursor: pointer;
    }
    .behan {background: #018ada}
    .fb {background: #3c5a98}
    .pint {background: #d13f3f}
    .drib {background: #e95c93}
  }
}
