header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.main-nav {
  position: relative ;
  margin: 0;
  padding: 10px 0 25px;
  border-bottom: 1px solid rgba(221, 228, 234, 0.15);
  .nav-btn {
    float: right;
    padding: 0;
    margin: 15px 0 0 0;
    background: transparent;
    border: transparent;
    font-size: 23px;
    &:focus {
      outline: none;
    }
  }
}
.nav-header {
  .logo {
    float: left;
    width: 186px;
    height: 32px;
    overflow: hidden;
  }
}
.flex-content {
  flex-flow: column wrap;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.nav-menu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
  overflow-y: hidden;
  .nav-btn {
    margin: 25px;
  }
  .active a {
    font-weight: 700;
    color: #fff;
  }
  a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    &:hover {
     color: #fff;
    }
  }
}

@media (min-width: 992px) {
  .flex-content {
    flex-direction: row;
  }
}
