.work {
  background: $color-primary;
  overflow: hidden;
  .section {
    padding-bottom: 0;
  }
  .title {
    margin-bottom: 30px;
  }
  .btn-filter {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      margin: 10px 6px;
    }
  }
  .btn-work {
    width: 120px;
    height: 30px;
    border-radius: 0;
    border: 2px solid #d11f2d;
    background: transparent;
    font: 600 14px/20px $font-primary;
    transition: 0.3s all ease-out;
    cursor: pointer;
    &:hover, &.active-btn {
      outline: none;
      background-color: #d11f2d;
    }
    &:focus {
      outline: none;
    }
    &:active:focus {
      outline: none;
    }
  }
  .our-works.flex-content {
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-left: -15px;
    padding: 0;
    li {
      position: relative;
      width: 50vw;
      margin-bottom: -3px;
      transition: 0.3s all ease-out;
      img {
        width: 100%;
      }
      &:hover .hover {
        display: block;
      }
    }
  }
  .hover {
    display: none;
    padding: 10px;
    background: rgba(34,34,34,0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .hover-wrap {
      width: 100%;
      height: 100%;
      border: 1px solid #ffffff;
    }
    h3 {
      margin-top: 20%;
      text-align: center;
      font: 700 14px/20px $font-extra;
    }
    span {
      display: block;
      text-align: center;
      font: 400 10px/20px $font-primary;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 768px) {
  .work {
    .btn-filter {
      flex-direction: row;
      li {
        margin: 40px 6px;
      }
    }
    .btn-work {
      width: 140px;
      height: 40px;
    }
    .our-works.flex-content {
      li {
        width: 25vw;
      }
    }
    .hover {
      padding: 20px;
    }
  }
}